@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
}

#name{
font-size: 30px;
}

#about_me{
    font-size:16px;
    font-weight:600;
}

#resume_cont{
    margin-left:0.5rem;
}

img{
    height: 300px;
    width: auto;
    
}

i.fa-phone::before,i.fa-envelope::before{
    padding-right: 0.25rem;
}


#section_main{
    font-weight: 700;
}

.section_title{
    font-weight: 700;
}

.main_content{
    margin-left: 1rem;
}
.h4_class{
    font-weight: 700;
}
.job_title{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 0.25rem;
}
.job-responsibilities,.years_worked{
    font-weight: 600;
    padding-bottom: 0.25rem;
}


li.list-group-item{
    border-top: 0 none;
    border-bottom: 0 none;
    border-left:0 none;
    padding: 0.25rem;
}

ul.list-group{
    padding-left:1rem;
 
}
ul.list-group li{
    list-style: disc;
}

#experience p{
    margin-top: 1rem;
}
.table {
    width:900px;
}
